<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/lib/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/lib/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/lib/stylesheets/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/expenses/styles.css" />
  </head>
  <body>
    <div class="interim">
      <div class="left">
        <h1>D.</h1>
      </div>
      <div class="separator"></div>
      <div class="right">
        <h1>Y.</h1>
      </div>
    </div>
    <footer id="copyright">
      <p> 2013</p>
    </footer>
  </body>
</html>
